body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #efefef;
}

pre {
	margin: 20px auto;
	background: #111111 !important;
	font-family: 'Fira Code' !important;
}

pre code {
	font-family: 'Fira Code' !important;
}

@font-face {
	font-family: 'Fira Code';
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Light.eot');
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Light.eot')
			format('embedded-opentype'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Light.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Light.woff') format('woff'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Regular.eot');
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Regular.eot')
			format('embedded-opentype'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2')
			format('woff2'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff') format('woff'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf')
			format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Medium.eot');
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Medium.eot')
			format('embedded-opentype'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Medium.woff2')
			format('woff2'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Medium.woff') format('woff'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Bold.eot');
	src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Bold.eot')
			format('embedded-opentype'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Bold.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Bold.woff') format('woff'),
		url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
